
body{    
    background-color:#383838;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}
header{
    background-color:#4b4b4b;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row; 
    
}
.header-content{
    display: flex;
    margin: 0 auto;
}
.header-icon{
    padding-top: 7px;
}

.header-text{
    background-color:#4b4b4b;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

h1 {
    font-family: 'Shadows Into Light', cursive;	
    font-weight: 500; 
    color:white;
    padding: 10px;
}
